body {
    background-color: rgb(211, 84, 84);
    color: white
    font-family: "Bai Jamjuree", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

 button {
    background-color: rgb(121, 28, 28) ;
    color:white;
    font-family: "Bai Jamjuree", sans-serif;
 }

 .passo {
    display: none;
 }

 .passo.ativo {
    display: block;
 }

 main{
    max-width: 90%;
 }